* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: center;
}
header {
  flex-grow: 1;
  margin: 40px 5% 0 5%;
  width: 761px;
  height: 64px;
  background-color: rgb(176, 42, 255);
}

a {
  display: inline-block;
  background-color: rgb(42, 234, 255);
  width: 80px;
  height: 35px;
  margin: 15px;
}

.right {
  width: 35px;
  margin: 15px;
}

span {
  float: right;
}

.main {
  display: flex;
  justify-content: center;
}

main {
  flex-grow: 1;
  margin: 0 0 0 5%;
  width: 509px;
  height: 509px;
  background-color: rgb(255, 214, 42);
}

article {
  margin: 0 5% 0 0;
  height: 509px;
  width: 253px;
  background-color: rgb(81, 212, 0);

}

.purplebox {
  width: 225px;
  height: 45px;
  background-color: rgb(87, 53, 89);
  margin: 10px 14px;

}

.upper {
  margin: 20px 14px 10px 14px;
}

.art {
  margin: 10px 14px;
}

.down {
  display: flex;
}

.mainart {
  height: 100px;
  flex-grow: 1;
  margin: 10px 14px;
  overflow: auto;

}

.up {
  display: flex;
  justify-content: space-between;
}

.redbox {
  display: inline-block;
  margin: 5px 10px;
  height: 100px;
  background-color: red;
  flex-grow: 1;
}
