* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(51, 51, 51);
}

.container {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  width: 200px;
  height: 200px;
  background-color: white;
  transform: rotate(45deg);
}

.border {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(177, 82, 82, 0);
  border: 2px solid rgb(255, 99, 71);
  transform: rotate(45deg);
  transition: 4s;
}

p {
  transform: rotate(-90deg);
  transition: 4s;
  font-size: 18px;
  font-weight: bolder;

}

.border:hover {
  transform: rotate(90deg);

}

.border:hover > p {
  transform: rotate(-135deg);
  color: rgb(255, 99, 71);
}